name: Deploy to AWS

on:
  push:
    branches:
      - main  # Change to your default branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: SSH into EC2 and deploy
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_KEY }}
        port: 22
        script: |
          cd /home/ec2-user/priceport-domestic/backend
          git pull origin main
          npm install --production
          pm2 restart priceport-backend